:root {
    --primary-color: #f19337;
    --secondary-color: #3948e2;
    --accent-color: #6ca16a;
    --font-family: 'Arial', sans-serif;
    --font-size: 16px;
    --border-radius: 5px;
}
body {
    height: 100%;
    font-family: var(--font-family);
    font-size: var(--font-size);
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    line-height: 1.6;
}


.welcome-content, .about-us-content{
    background-color: var(--primary-color);
    padding: 3rem;
    text-align: center;
}
.nav-container {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: white;
    height: 70px;
}
.nav-bar{
    position: sticky;
    top: 0;
    width: 100%;
    background: var(--secondary-color);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.logo-text {
    font-family: (--font-family);
    font-size: 1.5rem;
    padding-left: 0;
    font-weight: bold;
    color: white;
}
/* Buttons */
.nav-buttons a {
    padding: 0.5rem 1rem;
    border-radius: 25px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-left: 1rem;
    display: inline-block;
}
.btn-prim {
    background: linear-gradient(135deg, #f19337, #ffae63);
    color: white;
    border: none;
}
.btn-prim:hover {
   transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(241, 147, 55, 0.5);
}

.btn-sec {
    background: transparent;
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
}
.btn-sec:hover {
    background: var(--secondary-color);
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(57, 72, 226, 0.4);
}
header h1 {
    margin: 0;
    font-size: 1.5rem;
}
header .buttons button {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
}
/* signup section */
.footer-content{
    background-color: var(--secondary-color);
    color: white;
    padding: 2rem;
    bottom: 0;
    border-radius: 18px;
    max-width: 600px;
    margin: 0 auto 2rem auto;
}
.footer-content form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;

}
footer{
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 0 2.5rem;
    margin: 0 auto;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
}
.footer-content input, .footer-content button {
    padding: 0.75rem;
    border: 1px solid #000000;
    border-radius: var(--border-radius);
    font-size: 1rem;
}
.footer-content button{
    background: transparent;
    color: white;
    border: 2px solid var(--primary-color);
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 15px rgba(241, 147, 55, 0.4);
}
.footer-content button:hover {
    background-color: var(--primary-color);
    transform: translateY(-2px);
}
html {
    scroll-behavior: smooth;
    height: 100%;

}

/* Start of home page styles */
.home-page-content {
    background-color: var(--accent-color);
    text-align: center;
    padding-bottom: 315px;
}

.home-nav-bar {
    position: sticky;
    top: 0;
    width: 100%;
    background: var(--secondary-color);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    top: 0;
}

.option-card {
    display: inline-block;
    background: white;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: 1rem;
    width: 400px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.log-meal-pic {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
}

.meal-analysis-pic {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
}

.home-welcome-message {
    color: white;
    padding: 2rem 0;
}

.option-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: var(--primary-color);
    color: white;
    border-radius: var(--border-radius);
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}