<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <nav>
        <nav class="nav-bar">
        <div class="nav-container">
            <div class="logo-text">BiteThat!</div>
            <div class="nav-buttons">
                <a href="#my-account" class="btn btn-sign">My Account</a>
                <a href="{{ url_for('home') }}" class="btn btn-log">Home</a>
                <a href="{{ url_for('logout') }}" class="btn btn-sec">Log out</a>
            </div>    
        </div>
    </nav>
    <header>
        <section class="home-page-content">
            <!-- Personalize with user's name with javascript -->
            <h1 class="home-welcome-message">Nice to see you! What would you like to do today?</h1>
            <section class="options">
                <div class="option-card">
                    <img src="{{ url_for('static', filename='TableWithFood.jpg') }}" class="log-meal-pic">
                    <a href="{{ url_for('log_meal') }}" class="option-btn">Log Meals</a>
                </div>
                <div class="option-card">
                    <img src="{{ url_for('static', filename='log_physicalState.jpg') }}" class="log-meal-pic">
                    <a href="{{ url_for('log_physical_state') }}" class="option-btn">Log Physical State</a>
                </div>
                <div class="option-card">
                    <img src="{{ url_for('static', filename='mealAnalysis.jpg') }}" class="log-meal-pic">
                    <a href="{{ url_for('meal_analysis') }}" class="option-btn">Meal Analysis</a>
                </div>  
            </section>
        </section>
    </header>
</body>
</html>