<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<body>
        <nav class="nav-bar">
        <div class="nav-container">
            <div class="logo-text">
                <i class="fas fa-utensils"></i>
                <span>BiteThat!</span>
            </div>
            <div class="nav-buttons">
                <a href="{{ url_for('home') }}" class="btn btn-sign">Home</a>
                <a href="{{ url_for('logout') }}" class="btn btn-sec">Log out</a>
            </div>    
        </div>
    
</body>
</html>